# Xcode
*.xcworkspace
xcuserdata/
*.xcuserstate
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build

# SPM
.swiftpm/

# IDE
.idea/
*.swp
